<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Section de navigation -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <h5>Naviguer</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}">Accueil</a></li>
                    <li><a href="{% url 'formations' %}">Formations</a>
                    <li><a href="{% url 'blog' %}">Blog</a>
                </ul>
            </div>
            <!-- Section de contact -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <h5>Contactez-nous</h5>
                <ul class="list-unstyled">
                    <li><a href="mailto:info@tesseract.com">info@tesseract.com</a></li>
                    <li><a href="tel:+1234567890">+1 234 567 890</a></li>
                </ul>
            </div>
            <!-- Section des médias sociaux -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <h5>Suivez-nous</h5>
                <ul class="list-unstyled">
                    <li><a href="https://twitter.com/Ezerroc_">Twitter</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="text-muted">© 2023 Tesseract. Tous droits réservés.</span>
            </div>
        </div>
    </div>
</footer>
